asgiref==3.8.1
blinker==1.9.0
click==8.1.8
Django==5.2
django-appconf==1.1.0
django-fsm==3.0.0
django-fsm-log==3.1.0
django-subscriptions==2.1.1
djangorestframework==3.16.0
Flask==3.1.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
pillow==11.2.1
qrcode==8.2
sqlparse==0.5.3
Werkzeug==3.1.3 